name: Run Preprocessing Automatically

on:
  push:
    paths:
      - "namadataset_raw/banknote_authentication.csv"
      - "preprocessing/automate_naufal.py"

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pandas scikit-learn matplotlib seaborn

      - name: Run preprocessing script
        run: |
          python preprocessing/automate_naufal.py

      - name: Upload processed dataset
        uses: actions/upload-artifact@v4
        with:
          name: banknote_preprocessed
          path: preprocessing/namadataset_preprocessing/banknote_preprocessed.csv